# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/

# Flask instance folder (SQLite DB)
instance/

# Migrations pycache
migrations/__pycache__/
migrations/versions/__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Environment variables
.env
